
<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Language</h2>
    <i class="devicon-embeddedc-plain-wordmark colored"></i>
    <i class="devicon-c-line-wordmark"></i>
    <i class="devicon-cplusplus-line-wordmark"></i>
   
    <i class="devicon-java-plain-wordmark"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-javascript-plain"></i>

     <!-- 여기부터 언어 X -->
    <i class="devicon-mysql-plain-wordmark"></i>
    <p>LANG</p>
  </div>




  <div class="tech">
    <h2>Library & Frameworks</h2>
    <!-- 라이브러리 항목 -->
    
    <i class="devicon-opengl-plain colored"></i>
    <i class="devicon-opencv-plain-wordmark colored"></i>
    <i class="devicon-jquery-plain-wordmark colored"></i>
    <i class="devicon-flask-original-wordmark colored"></i>

    <!-- 프레임워크 항목 -->
  
    <i class="devicon-android-plain-wordmark"></i>
    <i class="devicon-spring-plain-wordmark colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <i class="devicon-dot-net-plain-wordmark colored"></i>
    <i class="devicon-qt-original colored"></i>
    <p>Library & Frameworks</p>
  </div>



  <div class="tech">
    <h2>IDE & Etc</h2>
    <!-- Main IDE-->
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-vscode-plain colored"></i>
    <i class="devicon-androidstudio-plain"></i>
    <i class="devicon-arduino-plain colored"></i>
    <!-- Sub Editor -->
 
    <i class="devicon-bash-plain colored"></i>
    <i class="devicon-vim-plain colored"></i>
    <i class="devicon-gimp-plain colored"></i>
    <p>서브 에디터</p>
  </div>


  <div class="tech">
    <h2>Commucations</h2>
    <i class="devicon-github-original"></i>
    <i class="devicon-sourcetree-original-wordmark"></i>
    <i class="devicon-slack-plain colored"></i>
    <p>협업 툴</p>
  </div>
</div>